.header_container {
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--body-black);
    gap: 50px;
    transition: 0.5s ease;
    padding: 30px;
}

.header_viewContainer {
    width: 300px;

}

.header_sectionOne {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: 0.3s ease;
}

.header_sectionOne i {
    color: var(--body-white);
    font-size: 90px;
}

.header_sectionOne p {
    color: var(--text-color-white);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.header_sectionTwo {
    width: 300px;
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.header_sectionTwo_link {
    width: 240px;
    color: var(--text-color-white);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
}

.header_sectionTwo_link:hover {
    border-bottom: 2px solid var(--body-white);
}

.header_sectionTwo_link i {
    font-size: 30px;
}