.pages_container {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}

/* pages_sectionOne */

.pages_sectionOne {
    width: 100%;
    height: 80px;
    background-color: var(--body-darkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.pages_sectionOne h1 {
    color: var(--text-color-white);
}

.pages_sectionOne button {
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--body-white);
    border-radius: 10px;
    border: 1px solid var(--text-color-white);
    cursor: pointer;
    transition: 0.3s ease;
}

.pages_sectionOne button:hover {
    background-color: var(--body-darkBlue);
    color: var(--text-color-white);
}