.HomeUniversity_container {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;

    animation: fadeIn 1s ease-in-out;
}

/* HomeUniversity_sectionOne */

.HomeUniversity_sectionOne {
    width: 100%;
    height: 80px;
    background-color: var(--body-darkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.HomeUniversity_sectionOne h1 {
    color: var(--text-color-white);
}

.HomeUniversity_sectionOne button {
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--body-white);
    border-radius: 10px;
    border: 1px solid var(--text-color-white);
    cursor: pointer;
    transition: 0.3s ease;
}

.HomeUniversity_sectionOne button:hover {
    background-color: var(--body-darkBlue);
    color: var(--text-color-white);
}

/* Universities__cardsContainer */

.Universities__cardsContainer {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.Universities__card {
    width: 250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(222, 222, 222);
}

.Universities__card img {
    height: 150px;
    width: 150px;
}


.Universities__card h3 {
    color: var(--text-color-black);
}

.Universities__card h4 {
    margin-top: -10px;
    color: var(--text-color-gray);
    text-align: center;
    font-size: 16px;
}

.Universities__card button {
    width: 150px;
    padding: 13px;
    font-size: 16px;
    background-color: var(--body-black);
    color: var(--text-color-white);
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    border: 1.5px solid var(--body-black);
    transition: 0.5s ease;
    cursor: pointer;
}

.Universities__card button:hover {
    background-color: var(--body-white);
    color: var(--text-color-black);

}